@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  width: 100rem;
  height: auto;
}
.container {
  width: 90rem;
  height: auto;
  background-color: rgb(217, 253, 253);
  margin: 0 auto;
}
.header-section {
  background-color: tomato;
  width: 90rem;
  height: 7.0625rem;
}
.header {
  display: flex;
  min-width: 1440px;
  min-height: 113px;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
}
.logo-img {
  width: 13.9375rem;
  height: 5.8125rem;
}

.nav-items {
  display: flex;
  background-color: aliceblue;
  min-width: 28.625rem;
  min-height: 1.0625rem;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.125rem;
}
.nav-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
}
.user {
  display: flex;
  margin-top: 1.125rem;
  min-width: 9.0625rem;
  min-height: 1.4375rem;
  justify-content: space-between;
}
#login {
  background: #54b8ff;
  color: #ffffff;
  padding: .3125rem .75rem;
}
.user-link {
  font-family: Poppins;
  font-weight: 31.25rem;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: #000000;
}
.main {
  
}
.hero{
  display: flex;
}
